@{
    ViewData["Title"] = "Home Page B2C";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core and AAD B2C</a>.</p>
</div>

<div>Api result</div>

<div>@ViewData["ApiResult"]</div>
