@{
    ViewData["Title"] = "Home Page";
}
<br />
<div style="text-align:left">
    <h3>Dev App Testing. Call an API: </h3>
    <button style="background-color:azure; border-color:slateblue"><a href="/Home/SayHello">Call gRPC</a></button>
    <br />
    <br />
    <button style="background-color:azure; border-color:darkslategrey"><a href="/Home/CallAzureFunction">Call Azure Function</a></button>
</div>

<br />

<h3>
    Secure a web API built with ASP.NET Core using the Microsoft identity platform:
</h3>
<img src="https://github.com/AzureAD/microsoft-identity-web/blob/master/tests/WebAppCallsWebApiCallsGraph/ReadmeFiles/topology.png?raw=true" />



