@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string name = ViewData["name"] as string;
    string json = ViewData["json"] as string;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@name, Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
     result = @json
    <table class="table table-striped table-condensed" style="font-family: monospace">
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>photo</td>
            <td>
                @{
                    if (ViewData["photo"] != null)
                    {
                        <img style="margin: 5px 0; width: 150px" src="data:image/jpeg;base64, @ViewData["photo"]" />
                    }
                    else
                    {
                        <h3>NO PHOTO</h3>
                        <p>Check user profile in Azure Active Directory to add a photo.</p>
                    }
                }
            </td>
        </tr>
    </table>

    <div style="text-align:left">
        <ol>
            <li>See the number of users in the tenant (User.Read.All permission) by navigating to the <a href="/AllUsers">AllUsers</a> page.</li>
            <li>See the number of apps in the tenant (app permissions, requires admin consent) by navigating to the <a href="/AllApps">AllApps</a> page.</li>
        </ol>
    </div>
    

</div>
