<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <!--
             Avoid poluting the global .Nuget cache with preview packages
             either from .NET core preview SDKs, or Microsoft.Identity.Web preview
             builds
        -->
        <add key="globalPackagesFolder" value="bin\debug\packages" />
    </config>

    <!--
        Used to specify the default Sources for list, install and update.
        See: nuget.exe help list
        See: nuget.exe help install
        See: nuget.exe help update
    -->
    <packageSources>
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
        <add key="Preview-dotnetcore-sdk" value="C:\dotnetcore\Windows_Packages\Windows_Packages\Release\Shipping" />
        <add key="dotnet5" value="https://dnceng.pkgs.visualstudio.com/public/_packaging/dotnet5/nuget/v3/index.json" />
        <add key="dotnet5-transport" value="https://dnceng.pkgs.visualstudio.com/public/_packaging/dotnet5-transport/nuget/v3/index.json" />
        <!--<add key="dotnet5-transport" value="https://dnceng.pkgs.visualstudio.com/public/_packaging/dotnet5-transport/nuget/v3/index.json" />-->
    </packageSources>
</configuration>
