@page "/callwebapi"

@using blazor
@using Microsoft.Identity.Web
@using Microsoft.Identity.Client
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject Microsoft.AspNetCore.Routing.LinkGenerator linkGenerator


@inject IDownstreamWebApi downstreamAPI

<h1>Call an API</h1>

<p>This component demonstrates fetching data from a Web API.</p>

@if (apiResult == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>API Result</h2>
    @apiResult
}

@code {
    private string apiResult;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            apiResult = await downstreamAPI.CallWebApiAsync();
        }
        catch (Exception ex)
        {
            MsalUiRequiredException? msalUiRequiredException =
                   (ex as MsalUiRequiredException)
                   ?? (ex?.InnerException as MsalUiRequiredException);

            if (msalUiRequiredException != null &&
               IncrementalConsentAndConditionalAccessHelper.CanBeSolvedByReSignInOfUser(msalUiRequiredException))
            {
                var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync())?.User;
                var properties = IncrementalConsentAndConditionalAccessHelper.BuildAuthenticationProperties(new string[] { "user.read" },
                    msalUiRequiredException, user);

                string url = $"{NavigationManager.BaseUri}MicrosoftIdentity/Account/Challenge?redirectUri={NavigationManager.BaseUri}/callWebApi&" 
                    + properties.Parameters.Select(p => p.Key + "=" + p.Value).ToArray();
                NavigationManager.NavigateTo(url);
            }
        }

    }
}
