{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "AzureAd:Instance": "https://login.microsoftonline.com/",
    "AzureAd:Domain": "msidentitysamplestesting.onmicrosoft.com",
    "AzureAd:TenantId": "7f58f645-c190-4ce5-9de4-e2b7acd2a6ab",
    "AzureAd:ClientId":  "a4c2469b-cf84-4145-8f5f-cb7bacf814bc",
    "AzureAd:ClientSecret": "",
    "AzureAd:AllowWebApiToBeAuthorizedByACL": true,
    "DownstreamAPI:BaseUrl": "https://graph.microsoft.com",
    "DownstreamAPI:Scopes": "user.read"
  }
}
