# NOTE: Requires **VS2019 16.3** or later

# Code files
[*.{cs,vb}]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = none
