# NOTE: Requires **VS2019 16.3** or later

# Rules for files in tests directory

# Code files
[*.{cs,vb}]

# RS0030: Do not used banned APIs
dotnet_diagnostic.RS0030.severity = error

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = none

# SA1618: Generic type parameters should be documented
dotnet_diagnostic.SA1618.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = none

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = none

# SA1604: Element documentation should have summary
dotnet_diagnostic.SA1604.severity = none

# S4457: Parameter validation in "async"/"await" methods should be wrapped
dotnet_diagnostic.S4457.severity = none

# S3358: Ternary operators should not be nested
dotnet_diagnostic.S3358.severity = none

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = none

# S2699: Tests should include assertions
dotnet_diagnostic.S2699.severity = none

# RS0016: Add public types and members to the declared API
dotnet_diagnostic.RS0016.severity = none

# RS0016: Add public types and members to the declared API
dotnet_diagnostic.RS0037.severity = none

# RS0051: Add internal types and members to the declared API
dotnet_diagnostic.RS0051.severity = none
