# NOTE: Requires **VS2019 16.3** or later

# Rules for files in tests directory

# Code files
[*.{cs,vb}]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# SA1117: Parameters should be on same line or separate lines
dotnet_diagnostic.SA1117.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none
