<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agent-applications">
                <span class="oi oi-key" aria-hidden="true"></span> Manage Agent Apps
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agent-identities">
                <span class="oi oi-person" aria-hidden="true"></span> Manage Agent Ids
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agent-identity-call-api">
                <span class="oi oi-cloud" aria-hidden="true"></span> Interactive Agent
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agent-identity-call-api-app">
                <span class="oi oi-star" aria-hidden="true"></span> Autonomous agent
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agent-user-identities">
                <span class="oi oi-people" aria-hidden="true"></span> Agent User Identity
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
