<AuthorizeView>
    <Authorized>
        <div class="alert alert-secondary mt-4 fix-bottom">
            <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
            <strong>Were we successful in addressing your learning objective? </strong>
            <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR73pcsbpbxNJuZCMKN0lURpUMFJCNURBV1g2UTlKQjZTOTFGS09ZNjVMNSQlQCN0PWcu" target="_blank">Do consider taking a moment to share your experience with us.</a>
        </div>
    </Authorized>
</AuthorizeView>