@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <span class="text-nowrap">
            Hello, @context.User.Identity?.Name!
        </span>
        <form action="/authentication/logout" method="post" style="display: inline;">
            <button type="submit" class="btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="/authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
