@page "/"

<PageTitle>Index</PageTitle>

<h1>This is the client app used to exercise agent identities.</h1>

This test app helps you to:
<ul>
    <li>Create an agent application (AA) and configure the web API called by this app.</li>
    <li>Manage (create and delete) agent identities (AI) associated with this agent application.</li>
    <li>Call the configured web API that will itself have one of the agent identities call downstream APIs on behalf of the user or the agent identity itself.</li>
</ul>
