@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="idajx"></div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "@(Url.Action("AjaxAction", "Home"))",
                headers: { 'x-ReturnUrl': '/' },
                type: "GET",
                data: {},
                cache: false,
                success: function (data, status, xhr) {
                    $('#idajx').hide().html(data).fadeIn();
                },
                error: function (xhr, ajxOptions, thrownError) {
                    window.location = xhr.getResponseHeader("Location");
                },
            });
        });
    </script>
}

