@using Microsoft.Identity.Web
@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">Hello @User.GetDisplayName()!</li>
        <li><a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a></li>
    </ul>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li><a href="/MicrosoftIdentity/Account/SignIn?redirectUri=/TodoList">Sign In</a></li>
    <li><a href="/MicrosoftIdentity/Account/SignIn?redirectUri=https%3A%2F%2Fjwt.ms">Sign In jwt.ms</a></li>
</ul>
}
